.order-list{
    background-color: rgb(219, 241, 189);
    padding: 5px;
    width: 100%;
    justify-content: center;
    border-radius: 15px;
    
}
.order-list p{
    margin-left: 10px;
}
.page-size-bg{
    margin-top: 100px;
    /* margin-bottom: 700px; */
    height: 100vh;
    text-align: center;
    margin-right: 150px;
    margin-left: 150px;

}
.icon-delete{
    color: red;
    cursor: pointer;
    
}