.size-slider{
    height: 650px;
}
.slider-text{
    color: rgb(221, 200, 77);
    
}
.slider-text2{
    color: rgb(177, 75, 17);
    
}
.text-group{
    background-color: rgba(146, 152, 160, 0.521);
    border-radius: 30px;
    margin-left: 10%;
    margin-right: 10%;
    
}